{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<div class="container m-auto">
    <div class="container">
        <h1>Hello!</h1>
        <p>You can entry your dashboard by clicking on the button below!</p>
        <a href="{{ path('app_dashboard') }}" class="btn btn-primary">Dashboard</a>
    </div>
</div>
{% endblock %}
