{% extends 'base.html.twig' %}

{% block title %}Sign-in!{% endblock %}

{% block body %}
<style>
    .login-form { margin: 1em auto; max-width: 800px; margin-top: 4rem;}
</style>

<div class="container login-form">
    <h1 class="text-center fw-bold">Login Form</h1>

    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}


    {{ form(form) }}
</div>
{% endblock %}
